# Python / FastAPI / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3

# Виртуальное окружение
.venv/
venv/
env/

# Node.js / React / Vite / Frontend
node_modules/
dist/
.vite/

# Секреты и конфиги
.env
.env.local

# ОС и редакторы
.DS_Store
.vscode/
.idea/

# Логи и временные файлы
*.log